body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
}
#detroitium{
    position: relative;
    font-weight: bold;
    color:black;
}
#topnavbar{
    background-color: white;
}
#navbarHeader{
    width:50vw;
}
#navImg{
    width:10%;
}
#topNavigationList{
    top:50%;
}
#theFold{
    padding-top:10%;
    padding-bottom: 10%;
    background: url('../images/detroitConstruction.jpg') no-repeat 90% / cover;
    color: white;
    height:100vh;
}
#headline{
    font-size: 7vw;
    color:white;
    text-align: center;
}
.lightwhiteback{
    -webkit-text-stroke: 4px black;
    font-weight: bold;
        

}
#mission{
    background-color: white;
    color: black;
    padding-top:10%;
    padding-bottom: 10%;
}

#features{
    background-image: url('../images/detroitIndustry.jpg');
    padding-top:5%;
    padding-bottom: 5%;
    
}
#partners{

}
#membership{

}
#joinus{

}
.whitebox{
    border:3px solid black;
    background-color:white;
}
/*To be cleaned*/
.lineHeightPush, .navbar-nav>li>a{
    line-height:30px;
    color:black;
}
.brand, .navbar-default .navbar-nav>li>a{
    color: black;
}
input{
    border:3px solid black;
}
.submitButton{
    height:50%;
    border:3px solid black;
    background-color: white;
}
.form-group{
    height:10vh;
    bottom:0;
    margin:0;
}
/*****/